<mat-sidenav-container class="example-container">
  <mat-sidenav class="menu" mode="side" opened>
    <a class="iconeLateral" href="https://www.aphp.fr/">
      <div class="iconLateral" style="background-image: url(../assets/img/aphp.png); background-position: center; background-size: contain; background-repeat: no-repeat;"></div>
    </a>
    <br>
    <a *ngIf="isMedecin || isSecretaire || isLaborantin || isInfirmier" class="iconeLateral" routerLink="/documents">
      <div class="iconLateral" style="background-image: url(../assets/img/consulter_dmp.png); background-position: center; background-size: contain; background-repeat: no-repeat;"></div>

      <br>
    </a>
    <a *ngIf="isMedecin" class="iconeLateral" routerLink="/diagnostique">
      <div class="iconLateral" style="background-image: url(../assets/img/diagnostic.png); background-position: center; background-size: contain; background-repeat: no-repeat;"></div>
   <br>
    </a>
    <a *ngIf="isMedecin || isLaborantin" class="iconeLateral" routerLink="/cr">
      <div class="iconLateral" style="background-image: url(../assets/img/compte_rendu.png); background-position: center; background-size: contain; background-repeat: no-repeat;"></div>

      <br>
    </a>
    <a *ngIf="isMedecin" class="iconeLateral"routerLink="/ordonnance">
      <div class="iconLateral" style="background-image: url(../assets/img/ordonnance.png); background-position: center; background-size: contain; background-repeat: no-repeat;"></div>

      <br>
    </a>
    <a *ngIf="isMedecin" class="iconeLateral" routerLink="/examen">
      <div class="iconLateral" style="background-image: url(../assets/img/demande_examen.png); background-position: center; background-size: contain; background-repeat: no-repeat;"></div>

      <br>
    </a>
    <a *ngIf="isSecretaire" class="iconeLateral" routerLink="/creer_dmp">
      <div class="iconLateral" style="background-image: url(../assets/img/creer_dmp.png); background-position: center; background-size: contain; background-repeat: no-repeat;"></div>

      <br>
    </a>
    <a *ngIf="isSecretaire" class="iconeLateral" routerLink="/gestion_materiel">
      <div class="iconLateral" style="background-image: url(../assets/img/gestion_materiel.png); background-position: center; background-size: contain; background-repeat: no-repeat;"></div>

      <br>
    </a>
    <a *ngIf="isSecretaire" class="iconeLateral" routerLink="/gestion_agenda_medecin">
      <div class="iconLateral" style="background-image: url(../assets/img/gestion_agenda_medecin.png); background-position: center; background-size: contain; background-repeat: no-repeat;"></div>

      <br>
    </a>
    <a *ngIf="isSecretaire" class="iconeLateral" routerLink="/affectation_patient_service">
      <div class="iconLateral" style="background-image: url(../assets/img/affectation_patient_service.png); background-position: center; background-size: contain; background-repeat: no-repeat;"></div>
      <br>
    </a>

    <a *ngIf="isAdmin" class="iconeLateral" routerLink="/ajout_membre">
      <div class="iconLateral" style="background-image: url(../assets/img/ajout_membre.png); background-position: center; background-size: contain; background-repeat: no-repeat;"></div>
      <br>
    </a>
    <a *ngIf="isAdmin" class="iconeLateral" routerLink="/gestion_aphp">
      <div class="iconLateral" style="background-image: url(../assets/img/gerer_aphp.png); background-position: center; background-size: contain; background-repeat: no-repeat;"></div>
      <br>
    </a>
    <a *ngIf="isAdmin" class="iconeLateral" routerLink="/affectation_personnel">
      <div class="iconLateral" style="background-image: url(../assets/img/affecter_personnel.png); background-position: center; background-size: contain; background-repeat: no-repeat;"></div>
      <br>
    </a>
    <a *ngIf="isAdmin" class="iconeLateral" routerLink="/modification_specialite">
      <div class="iconLateral" style="background-image: url(../assets/img/modifier_specialite.png); background-position: center; background-size: contain; background-repeat: no-repeat;"></div>
      <br>
    </a>
    <a *ngIf="isLaborantin" class="iconeLateral" routerLink="/voir_anciens_examens">
      <div class="iconLateral" style="background-image: url(../assets/img/voir_anciens_examens.png); background-position: center; background-size: contain; background-repeat: no-repeat;"></div>
      <br>
    </a>
    <a *ngIf="isLaborantin" class="iconeLateral" routerLink="/voir_demande_examen">
      <div class="iconLateral" style="background-image: url(../assets/img/voir_demande_examen.png); background-position: center; background-size: contain; background-repeat: no-repeat;"></div>
      <br>
    </a>
    <a *ngIf="isInfirmier" class="iconeLateral" routerLink="/posologie">
      <div class="iconLateral" style="background-image: url(../assets/img/posologie.png); background-position: center; background-size: contain; background-repeat: no-repeat;"></div>
      <br>
    </a>
    <a *ngIf="isInfirmier" class="iconeLateral" routerLink="/constantes">
      <div class="iconLateral" style="background-image: url(../assets/img/constantes.png); background-position: center; background-size: contain; background-repeat: no-repeat;"></div>
      <br>
    </a>
    <a *ngIf="isInfirmier" class="iconeLateral" routerLink="/remarques">
      <div class="iconLateral" style="background-image: url(../assets/img/remarques.png); background-position: center; background-size: contain; background-repeat: no-repeat;"></div>
      <br>
    </a>
    <a *ngIf="isInfirmier" class="iconeLateral" routerLink="/prescription">
      <div class="iconLateral" style="background-image: url(../assets/img/prescription.png); background-position: center; background-size: contain; background-repeat: no-repeat;"></div>
      <br>
    </a>



  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <span *ngIf="isMedecin" > <img class="iconUser" src="../../assets/logo/medecin.png" /> </span>
        <span *ngIf="isSecretaire" > <img class="iconUser" src="../../assets/logo/secretaire.png" /> </span>
        <span *ngIf="isAdmin" >  <img class="iconUser" src="../../assets/logo/admin.png" />  </span>
        <span *ngIf="isLaborantin" >  <img class="iconUser" src="../../assets/logo/laborantin.png" /> </span>
        <span *ngIf="isInfirmier" >  <img class="iconUser" src="../../assets/logo/infirmier.png" /> </span>

        <span *ngIf="isMedecin" ><input type="text" id="name" name="name" required
                     minlength="4" maxlength="8" size="10" readonly="true" value="Dr. {{staff.lastName}}"></span>
        <span *ngIf="isLaborantin" ><input type="text" id="name" name="name" required
                                        minlength="4" maxlength="8" size="10" readonly="true" value="Pr. {{staff.lastName}}"></span>
        <span *ngIf="isSecretaire || isAdmin || isInfirmier" ><input type="text" id="name" name="name" required
                                        minlength="4" maxlength="8" size="10" readonly="true" value="{{staff.lastName}}"></span>
        <span>  <a class="icone" > <img class="iconUser" src="../../assets/img/deconnexion.png" /> </a> </span>
        <span>  <a class="icone" routerLink="/agenda"> <img class="iconUser" src="../../assets/img/agenda.png" /> </a> </span>
        <span *ngIf="isMedecin || isSecretaire || isLaborantin" ><input type="text" id="name2" name="name" required
                     minlength="4" maxlength="8" size="10" readonly="true" value="{{dmp.firstName}} {{dmp.lastName}}"></span>
        <span *ngIf="isMedecin || isSecretaire || isLaborantin" >  <a class="icone" href="https://www.aphp.fr/"> <img class="iconUser" src="../../assets/img/switch_dmp.png" /> </a> </span>
        <span *ngIf="isMedecin || isSecretaire || isLaborantin" ><input type="text" id="name3" name="name" required
                     minlength="4" maxlength="8" size="10" readonly="true" value="Chambre 213"></span>
        <span>  <a class="icone" routerLink="/help"> <img class="iconUser" src="../../assets/img/help.png" /> </a> </span>
        <span>  <a class="icone" routerLink="/ajaate"> <img class="iconUser" src="../../assets/img/ajaate.png" /> </a> </span>

      </mat-toolbar-row>

    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
