<!--
<div class="all" *ngIf="!isForgot()">
  <div class="logo" >
   <img src="assets/img/aphp.png" />
  </div>
  <form [formGroup]="connexionForm">
    <label>
      <br>
      Login :   <a  title="Entrer votre login (votre adresse mail)"> <img class="info" src="assets/img/info.png" /></a>
      <br>
      <input type="text" formControlName="email">
      <br><br>
    </label>
    <label>
          Mot de passe :   <a  title="Entrer votre mot de passe"> <img class="info" src="assets/img/info.png" /></a>
      <br>
      <input *ngIf="!show" type="password" formControlName="password">
      <input *ngIf="show" type="text" formControlName="password">
      <a title="Afficher/masquer mot de passe" class="mask" (click)="showPassword()">  <img class="affiche" src="assets/img/logo_affiche.png" /></a>
      <br>
      <a class="oubli" (click)="mailForgot()">Mot de passe oublié</a>
      <br><br>
    </label>
    <br>
    <button class="connexion" (click)="submit()">Connexion</button>
  </form>
  <div class="logo_2">
    <img class="logo_ajaate" src="assets/img/logo_ajaate.png" />
  </div>
</div>
<div class="all" *ngIf="isForgot()">
  <div class="logo" >
    <img src="assets/img/aphp.png" />
  </div>
  <form [formGroup]="connexionForm">
    <label>
      <br>
      Login :   <a  title="Entrer votre login (votre adresse mail)"> <img class="info" src="assets/img/info.png" /></a>
      <br>
      <input type="text" formControlName="email">
      <br><br>
    </label>
    <button class="connexion" (click)="sendMail()">Envoyer mail</button>
    <br>
    <button class="back" (click)="back(false)">Retour</button>
  </form>
  <div class="logo_2">
    <img class="logo_ajaate" src="assets/img/logo_ajaate.png" />
  </div>
</div>
<div class="all" *ngIf="send">
  <div class="logo" >
    <img src="assets/img/aphp.png" />
  </div>
  <form [formGroup]="passwordForm">
    <label>
      <br>
      Login :   <a  title="Entrer votre login (votre adresse mail)"> <img class="info" src="assets/img/info.png" /></a>
      <br>
      <input type="text" formControlName="email" disabled>
      <br><br>
    </label>
    <label>
      <br>
      Clé :   <a  title="Entrer la clé reçu par mail"> <img class="info" src="assets/img/info.png" /></a>
      <br>
      <input type="text" formControlName="key">
      <br><br>
    </label>
    <label>
      <br>
      Nouveau mot de passe :   <a  title="Entrer votre nouveau mot de passe"> <img class="info" src="assets/img/info.png" /></a>
      <br>
      <input *ngIf="!show" type="password" formControlName="password">
      <input *ngIf="show" type="text" formControlName="password">
      <a title="Afficher/masquer mot de passe" class="mask" (click)="showPassword()">  <img class="affiche" src="assets/img/logo_affiche.png" /></a>
      <br><br>
    </label>
    <br>
    <button class="connexion" (click)="changePassword()">Changer le mot de passe</button>
    <br>
    <button class="back" (click)="back(true)">Retour</button>
  </form>
  <div class="logo_2">
    <img class="logo_ajaate" src="assets/img/logo_ajaate.png" />
  </div>
</div>
-->

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 login-section-wrapper">
      <div class="brand-wrapper">
        <img src="assets/img/ajaate.png" alt="logo" class="logo">
      </div>
      <div class="all" *ngIf="!isForgot()">
        <div class="login-wrapper my-auto">
          <h1 class="login-title">Log in</h1>
          <form [formGroup]="connexionForm">
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" name="email" id="email" class="form-control" formControlName="email" placeholder="email@example.com">
            </div>
            <div class="form-group mb-4">
              <label for="password">Password</label>
              <input *ngIf="!show" type="password" name="password" id="password" class="form-control" placeholder="enter your passsword" formControlName="password">
              <input *ngIf="show" type="text" name="password" id="password" class="form-control" placeholder="enter your passsword" formControlName="password">
              <a href="#!" class="password-display mask" (click)="showPassword()">Display/mask password</a>
            </div>
            <input name="login" id="login" class="btn btn-block login-btn connexion" (click)="submit()" type="button" value="Login">
          </form>
          <a href="#!" class="forgot-password-link oubli" (click)="mailForgot()">Forgot password?</a>
          <!--
          <p class="login-wrapper-footer-text">Don't have an account? <a href="#!" class="text-reset">Register here</a></p>
          -->
        </div>
      </div>

      <div class="all" *ngIf="isForgot()">
        <div class="login-wrapper my-auto">
          <h1 class="login-title">Log in</h1>
          <form [formGroup]="connexionForm">
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" name="email" id="email" class="form-control" formControlName="email" placeholder="email@example.com">
            </div>
            <input name="connexion" id="connexion" class="btn btn-block login-btn connexion" (click)="sendMail()" type="button" value="Send Mail">
            <input name="back" id="back" class="btn btn-block login-btn back" (click)="back(false)" type="button" value="Back">
          </form>
        </div>
      </div>

      <div class="all" *ngIf="send">
        <div class="login-wrapper my-auto">
          <h1 class="login-title">Log in</h1>
          <form [formGroup]="passwordForm">
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" name="email" id="email" class="form-control" formControlName="email" placeholder="email@example.com" disabled>
            </div>
            <div class="form-group mb-4">
              <label for="key">Key</label>
              <input type="text" name="key" id="key" class="form-control" placeholder="enter your key" formControlName="key">
            </div>
            <div class="form-group mb-4">
              <label for="password">Password</label>
              <input *ngIf="!show" type="password" name="password" id="password" class="form-control" placeholder="enter your new passsword" formControlName="password">
              <input *ngIf="show" type="text" name="password" id="password" class="form-control" placeholder="enter your new passsword" formControlName="password">
              <a href="#!" class="password-display mask" (click)="showPassword()">Display/mask password</a>
            </div>
            <input name="connexion" id="connexion" class="btn btn-block login-btn connexion" (click)="changePassword()" type="button" value="Change Password">
            <input name="back" id="back" class="btn btn-block login-btn back" (click)="back(true)" type="button" value="Back">
          </form>
        </div>
      </div>

    </div>
    <div class="col-sm-6 px-0 d-none d-sm-block">
      <img src="assets/img/APHP_NEW-01.jpg" alt="login image" class="login-img">
    </div>
  </div>
</div>
