<div class="data">
  <form [formGroup]="DMPForm">

    <label>
      <br>
      Numéro de sécurité sociale :
      <br>
      <input type="text" formControlName="socialSecurityNumber">
      <br><br>
    </label>

    <label>
      Prénom :
      <br>
      <input type="text" formControlName="firstName">
      <br>
      <br><br>
    </label>

    <label>
      Nom :
      <br>
      <input type="text" formControlName="lastName">
      <br>
      <br><br>
    </label>

    <label>
      Date de naissance :
      <br>
      <input type="date" formControlName="birthday">
      <br>
      <br><br>
    </label>
    <label>
      Nationalité :
      <br>
      <input type="text" formControlName="nationality">
      <br>
      <br><br>
    </label>
    <label>
      Numéro de téléphone :
      <br>
      <input type="text" formControlName="phoneNumber">
      <br>
      <br><br>
    </label>
    <label>
      Email :
      <br>
      <input type="email" formControlName="email">
      <br>
      <br><br>
    </label>
    <label>
      Code postal :
      <br>
      <input type="number" formControlName="postcode">
      <br>
      <br><br>
    </label>
    <label>
      Ville :
      <br>
      <input type="text" formControlName="city">
      <br>
      <br><br>
    </label>
    <label>
      Rue :
      <br>
      <input type="text" formControlName="street">
      <br>
      <br><br>
    </label>
    <label>
      Pays :
      <br>
      <input type="text" formControlName="county">
      <br>
      <br><br>
    </label>
    <label>
      Allergie :
      <br>
      <input type="text" formControlName="allergy">
      <br>
      <br><br>
    </label>

    <button (click)="creationDMP()">Valider</button>
    <br>
  </form>
</div>
