<div class="data" *ngIf="act">
  <form [formGroup]="fileForm">
    <p>Rédaction d'un diagnostic : </p>
    <textarea rows="20" cols="90" formControlName="text"></textarea>
    <br>
  </form>
  <button (click)="onCancel()">Cancel</button>
  <button (click)="onSave()">Save</button>
  <button (click)="onPublish()">Publish</button>

</div>
<div class="data" *ngIf="!act">
  <div *ngIf="!listAct">
    Aucun acte auquel associer ce diagnostic.
    <button routerLink="/examen/demande">Demander un acte</button>
    <button routerLink="/examen/effectuer">Effectuer un acte</button>
  </div>
  <div *ngIf="listAct">
    Voici les actes de l'affectation en cours :
    <ul>
      <li *ngFor="let act of listAct">
        <div class="nom"> Type : {{act.type}} </div>
        <br>
        <div>
          <button mat-fab (click)="Choose(act)"> Choose</button>
        </div>

      </li>

    </ul>
  </div>


</div>
