<html>
<head>
  <title>Mail oublié</title>
</head>

<body>
<div class="logo" >
  <img src="../../assets/img/aphp.png" ng-href="http://example.com/login"/>
</div>
<form >
  <p> Vous êtes sur cette page car vous avez oublié votre mot de passe.</p>
  <p>Pour recevoir un lien afin de réinitialiser votre mot de passe, remplissez le champs suivant.</p>
    <p> Une fois que vous aurez cliquer sur le bouton de confirmation, vérifiez vos e-mail afin de poursuivre la procédure.</p>
  <label>
    <br>
    Mail :
    <br>
    <input type="text" formControlName="mail">
    <br><br>
  </label>



  <button class="envoi">Envoyer</button>
  <br>
</form>

<div class="logo_2">
  <img class="logo_ajaate" src="../../assets/img/logo_ajaate.png" />
</div>

</body>

</html>
