<div class="data">
  <form [formGroup]="affectationForm" *ngIf="affectationForm && staffs && structs">

    <label>
      Structure :
      <select formControlName="struct">
        <option *ngFor="let struct of structs; let i = index" [value]="i" >{{struct.nameStruct}}</option>
      </select>
    </label>

    <div class="item" formArrayName="staff">
      <label  *ngFor="let number of affectationForm.controls.staff.controls let i = index">
        Staff :
        <select formControlName="{{i}}">
          <option *ngFor="let staff of staffs; let i = index" [value]="staff.id" >{{staff.lastName}} {{staff.firstName}}</option>
        </select>
      </label>
    </div>
    <div class="item">
      Ajouter/Supprimer des staffs
      <button (click)="addStaff()">+</button>
      <button (click)="removeStaff()">-</button>

    </div>


    <button (click)="creationAffectation()">Valider</button>
    <br>
  </form>
</div>
