<div class="data" *ngIf="!effectuer && affectation">

      Voulez-vous effectuer une posologie à {{dmp.lastName}} {{dmp.firstName}} ?
      <div class="links">
        <button mat-fab (click)="creationPosologie()">Effectuer</button>
      </div>

</div>
<div class="data" *ngIf="effectuer && affectation">

  Vous avez effectué une posologie à {{dmp.lastName}} {{dmp.firstName}} !
  <button mat-fab routerLink="/">Retour</button>
</div>
<div class="data" *ngIf="!affectation">

  Impossible d'effectuer une posologie à un patient non hospitalisé !
  <button mat-fab routerLink="/">Retour</button>
</div>
