<td> {{struct.nameStruct}} </td>
<td> {{struct.level}}</td>

<td> {{struct.street}}, ({{struct.postCode}}) {{struct.city}} à {{struct.country}} </td>

<td *ngIf="struct.speciality"> {{struct.speciality.nameRole}} </td>
<td *ngIf="!struct.speciality"> Aucune spécialité </td>

<td *ngIf="struct.struct"> {{struct.struct.nameStruct}}</td>
<td *ngIf="!struct.struct"> Aucun parent </td>

<td *ngIf="struct.responsible"> {{struct.responsible.lastName}} {{struct.responsible.firstName}}</td>

<td *ngIf="!struct.responsible && struct.level == level[0]"> Alain Alshikhley </td>
<td *ngIf="!struct.responsible && struct.level == level[1]"> Jaïd Benni </td>
<td *ngIf="!struct.responsible && struct.level == level[2]"> Eseid Benmammar </td>
<td *ngIf="!struct.responsible && struct.level == level[3]"> Thinhinane Bouhaci</td>
<td *ngIf="!struct.responsible && struct.level == level[4]"> Ando Niana </td>
<td *ngIf="!struct.responsible && struct.level == level[5]"> Aïssa Benhamida</td>



