<td> {{struct.nameStruct}} </td>
<td> {{struct.level}}</td>

<td> {{struct.street}}, ({{struct.postCode}}) {{struct.city}} à {{struct.country}} </td>

<td *ngIf="struct.speciality"> {{struct.speciality.nameRole}} </td>
<td *ngIf="!struct.speciality"> Aucune spécialité </td>

<td *ngIf="struct.struct"> {{struct.struct.nameStruct}}</td>
<td *ngIf="!struct.struct"> Aucun parent </td>

<td *ngIf="struct.responsible"> {{struct.responsible.lastName}} {{struct.responsible.firstName}}</td>

<td *ngIf="!struct.responsible && struct.level == Level.APHP"> Hamid Macron </td>
<td *ngIf="!struct.responsible && struct.level == Level.HOSPITAL"> Jaïd Benni </td>
<td *ngIf="!struct.responsible && struct.level == Level.POLE"> Eseid Benmammar </td>
<td *ngIf="!struct.responsible && struct.level == Level.SERVICE"> Thinhinane Bouhaci</td>
<td *ngIf="!struct.responsible && struct.level == Level.FONCTIONAL_UNIT"> Jaid Benni </td>
<td *ngIf="!struct.responsible && struct.level == Level.CARE_UNIT"> Eseid Benmammar </td>



