<mat-sidenav-container class="example-container">
  <mat-sidenav class="menu" mode="side" opened>
    <a class="iconeLateral" href="https://www.aphp.fr/">
    <div class="iconLateral" style="background-image: url(../assets/img/aphp.png); background-position: center; background-size: contain; background-repeat: no-repeat;"></div>
    </a>
    <br>
    <a *ngIf="isMedecin" class="iconeLateral" routerLink="/documents">
      <div class="iconLateral" style="background-image: url(../assets/img/consulter_dmp.png); background-position: center; background-size: contain; background-repeat: no-repeat;"></div>
    </a>
    <br>
    <a class="iconeLateral" routerLink="/diagnostique">
      <div class="iconLateral" style="background-image: url(../assets/img/diagnostic.png); background-position: center; background-size: contain; background-repeat: no-repeat;"></div>
    </a>
    <br>
    <a class="iconeLateral" routerLink="/cr">
      <div class="iconLateral" style="background-image: url(../assets/img/compte_rendu.png); background-position: center; background-size: contain; background-repeat: no-repeat;"></div>
    </a>
    <br>
    <a class="iconeLateral"routerLink="/ordonnance">
      <div class="iconLateral" style="background-image: url(../assets/img/ordonnance.png); background-position: center; background-size: contain; background-repeat: no-repeat;"></div>
    </a>
    <br>
    <a class="iconeLateral" routerLink="/examen">
      <div class="iconLateral" style="background-image: url(../assets/img/demande_examen.png); background-position: center; background-size: contain; background-repeat: no-repeat;"></div>
    </a>


  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <span>  <a class="icone" href="https://www.aphp.fr/"> <img class="iconUser" src="../../assets/logo/medecin.png" /> </a> </span>
        <span><input type="text" id="name" name="name" required
                     minlength="4" maxlength="8" size="10" readonly="true" value="Dr. {{medecin.lastName}}"></span>
        <span>  <a class="icone" href="https://www.aphp.fr/"> <img class="iconUser" src="../../assets/img/deconnexion.png" /> </a> </span>
        <span>  <a class="icone" href="https://www.aphp.fr/"> <img class="iconUser" src="../../assets/img/agenda.png" /> </a> </span>
        <span><input type="text" id="name2" name="name" required
                     minlength="4" maxlength="8" size="10" readonly="true" value="{{dmp.firstName}} {{dmp.lastName}}"></span>
        <span>  <a class="icone" href="https://www.aphp.fr/"> <img class="iconUser" src="../../assets/img/switch_dmp.png" /> </a> </span>
        <span><input type="text" id="name3" name="name" required
                     minlength="4" maxlength="8" size="10" readonly="true" value="Chambre 213"></span>
        <span>  <a class="icone" href="https://www.aphp.fr/"> <img class="iconUser" src="../../assets/img/help.png" /> </a> </span>
        <span>  <a class="icone" href="https://www.aphp.fr/"> <img class="iconUser" src="../../assets/img/ajaate.png" /> </a> </span>

      </mat-toolbar-row>

    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
