<html>
<head>
  <title>Connexion</title>
</head>

<body>
<div class="logo" >
 <img src="../../assets/img/aphp.png" />
</div>
<form >

  <label>
    <br>
    Login :
    <br>
    <input type="text" formControlName="login">
    <br><br>
  </label>

  <label>
    Mot de passe :
    <br>
    <input type="password" formControlName="mot_de_passe">
    <br>
    <a class="oubli" href="mot_de_passe_oublie.html">Mot de passe oublié</a>
    <br><br>
  </label>


  <button class="connexion" routerLink="/medecin">Connexion</button>
  <br>
</form>

<div class="logo_2">
  <img class="logo_ajaate" src="../../assets/img/logo_ajaate.png" />
</div>

</body>

</html>
