div.all {
  background-color: #f3f3f3ff;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
div.logo {
  text-align: center;

}

form {
  text-align : center;
}

a.oubli{
font-style: italic;
}

a.mask{
  width: 20px;
  height: 20px;
}

img.affiche{

  width: 20px;
  height: 20px;
}

img.info{

  width: 15px;
  height: 15px;
}

button.connexion{
  text-align: center;
  background-image:linear-gradient(#fcfba9, #f9d531);
  border-radius: 20px;
 }

 div.logo_2{
   position: absolute;
   right: 0;
   bottom: 0;

 }

img.logo_ajaate {

  width : 100px;
  height : 100px;

}
