body {
  background-color: #f3f3f3ff;
}
div.logo {
  text-align: center;

}

form {
  text-align : center;
}

a.oubli{
font-style: italic;
}

button.connexion{
  background-image:linear-gradient(#fcfba9, #f9d531);
 border-radius: 10px;
 }

 div.logo_2{
   text-align: right;

 }

img.logo_ajaate {

  width : 100px;
  height : 100 px;

}
