div.data{
  position: absolute;
  top: 10%;
}

li {
  list-style: none;
  display:block; float:left;;
  width:20%;
  margin-left: 20px;

}

.table-hover > tbody > tr:hover {
  background-color: cornflowerblue;
}

.table-hover{
  margin-left: auto;
  margin-right: auto;
}

th{
  border: 1px solid black;

}
